.indicators {
  border: 1px solid transparent;
  padding: 10px;
  width: 100px;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.indicators p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis {
  border: 1px solid hsl(0, 0%, 50%);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 1;
  flex-grow: 1;
  max-width: calc(100% - 100px);
}

.ellipsis p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis .flex {
  display: flex;
}

.ellipsis .flex p {
  flex-shrink: 1;
}

.ellipsis .flex .fixed {
  white-space: nowrap;
  flex-grow: 1;
  text-align: right;
}
