* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 5%);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}
